
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import "../media/Bootstrap/css/bootstrap.css";

* {
    transition: 0.5s all;
}

head, body {
    padding: 0;
    margin: 0;
    z-index: 1;
}

.head-nav {
    position: relative;
    width: auto;
    height: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 3px 30px rgba(6,12,18,0.12);
    padding: 30px;
    text-align: center;
    z-index: 200;
}
.head-nav img {
    height: 95px;
}

.div {
    position: relative;
    background: white;
    color: #000D1F;
    font-size: 35px;
    width: auto;
    height: auto;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    padding: 50px 40px;
    z-index: 2;    
}

.yaya-itsme span {
    color: #000D1F;
    font-size: 65px;
}
.yaya-itsme p {
    font-size: 35px;
    color: #000D1F;
    font-family: 'Rubik';
    font-weight: 400;
}

.imade {
    background: #000D1F;
    color: white;
    font-size: 35px;
    padding: 50px 0px;
    text-decoration: none;
}

.imade span {
    display: block;
    font-size: 40px;
    margin-bottom: 30px;
}

.imade a {
    text-decoration: none;
}

.imade .madeblock {
    background: white;
    color: #000D1F;
    font-size: 30px;
    padding: 40px;
}

.imade .madeblock span {
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 0;
}
.imade .madeblock p {
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
}

.madeblock.mrg-top {
    margin-top: 5px;
}

.whoami {
    text-align: left;
}

.whoami span {
    font-size: 65px;
}

.whoami p {
    font-size: 35px;
    color: #000D1F;
    font-family: 'Rubik';
    font-weight: 400;
}

.whoami a {
    color: #0751B8;
    text-decoration: none;
}

@media (max-width: 1000px) {

    .head-nav img {
        height: 75px;
    }

    @media (max-width: 600px) {
        
        .yaya-itsme span {
            font-size: 45px;
        }

        .whoami span {
            font-size: 45px;
        }
        .whoami p {
            font-size: 25px;
        }

        @media (max-width: 400px) {
            
            .head-nav img {
                height: 55px;
            }

        }

    }

}