
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import "../media/Bootstrap/css/bootstrap.css";

* {
    transition: 0.5s all;
}

head, body {
    padding: 0;
    margin: 0;
    z-index: 1;
}

.head-nav {
    position: relative;
    width: auto;
    height: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 3px 30px rgba(6,12,18,0.12);
    padding: 30px;
    text-align: center;
    z-index: 200;
}
.head-nav img {
    height: 95px;
}

.div {
    position: relative;
    background: white;
    color: #000D1F;
    font-size: 35px;
    width: auto;
    height: auto;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    padding: 50px 40px;
    z-index: 2;    
}

.hello #hello {
    color: #000D1F;
    font-size: 65px;
}
#hello.animate {
    animation: opacity 2s;
}

@keyframes opacity {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.imade {
    background: #000D1F;
    color: white;
    font-size: 35px;
    padding: 50px 0px;
    text-decoration: none;
}

.imade span {
    display: block;
    font-size: 40px;
    margin-bottom: 30px;
}

.imade a {
    text-decoration: none;
}

.imade .madeblock {
    background: white;
    color: #000D1F;
    font-size: 30px;
    padding: 40px;
}

.imade .madeblock span {
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 0;
}
.imade .madeblock p {
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
}

.madeblock.mrg-top {
    margin-top: 5px;
}

.donates {
    padding: 20px 30px;
    width: 100%;
    height: auto;
    background: white;
    position: relative;
}

.donates .donate {
    background: white;
    box-shadow: 0px 0px 30px rgba(0, 13, 31, 0.25);
    border-radius: 40px;
    padding: 60px 80px;
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #000D1F;
    cursor: pointer;
    transition: 0.2s all;
    outline: none;
}
.donates .donate:hover {
    background: #000D1F;
    color: white;
    border-radius: 45px;
    transition: 0.2s all;
}

@media (max-width: 1000px) {

    .head-nav img {
        height: 75px;
    }

    @media (max-width: 600px) {
        
        .yaya-itsme span {
            font-size: 45px;
        }

        @media (max-width: 400px) {
            
            .head-nav img {
                height: 55px;
            }

            .donates {
                padding: 20px 30px;
            }

            .donates .donate {
                padding: 30px 40px;
                font-size: 25px;
            }

            .div {
                padding: 50px 0;
            }

        }

    }

}

a {
    outline: none;
}