
.product {
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    background: #00122A;
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 141px;
    padding-bottom: 141px;
}
.product.cb {
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    background: #001531;
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 141px;
    padding-bottom: 141px;
}
.product:hover {
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #00122A;
    background: #fbfbfb;
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 141px;
    padding-bottom: 141px;
}

.products.a.its {
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #001531;
    text-decoration: none;
}
.products.a {
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #000D1F;
    text-decoration: underline;
}